* {
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 1px rgb(202, 202, 202);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(236, 181, 78);
}

body {
  background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  color: rgb(48, 49, 47);
  width: 100%;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
}

table {
  border-spacing: 0;
  min-width: 50%;
  width: 100%;
  background-color: rgba(221, 221, 221, 0.816);
}

th,
td {
  box-sizing: border-box;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-radius: 10px; /* Set the desired border radius value for cells */
}

th {
  background-color: #d9d9d9;
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: 10px 10px 0 0; /* Set the desired border radius value for table header cells */
}

thead th {
  top: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-self: center;
}

.search-wrapper {
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 7px;
}

input {
  border: 1px solid rgb(74, 74, 74);
  border-radius: 8px;
  padding: 5px;
  /* width: 500px; */
  width: 30%;
}

.tableTitle {
  margin: auto;
  padding: 10px;
  font-size: 15px;
}

.table-wrapper {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

#tazz-icon {
  max-width: 64px;
  margin-bottom: 10px; /* Adjust margin as needed */
}

#glovo-icon {
  margin-bottom: 10px; /* Adjust margin as needed */
}

/* Hide ID column below 1300px */
@media (max-width: 1300px) {
  #tazzTable th#id,
  #tazzTable td:nth-child(1) {
    display: none;
  }
}

@media (max-width: 1300px) {
  #glovoTable th#id,
  #glovoTable td:nth-child(1) {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

