* {
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 1px rgb(202, 202, 202);
  margin: 0;
  padding: 0;
}
        
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #95a5a6;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #2c3e50;
}

a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

a:hover {
  color: rgb(128, 96, 38);
}

tbody tr:hover {
  background-color: rgb(189, 189, 189);
}

body {
  background-image: url("brooke-lark-wMzx2nBdeng-unsplash.jpg");
  background-size: cover;
  background-position: center;
  overflow:hidden;
  color: rgb(48, 49, 47);
  width: 100%;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
}

table {
  border-spacing: 0;
  min-width: 50%;
  width: 100%;
  background-color: rgba(221, 221, 221, 0.816);
}

th,
td {
  box-sizing: border-box;
  border: 1px solid #dddddd;
  padding: 8px;
  border-radius: 10px; /* Set the desired border radius value for cells */
}

th {
  background-color: #d9d9d9;
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: 10px 10px 0 0; /* Set the desired border radius value for table header cells */
}

thead th {
  top: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0.2em;
  background-color: rgba(228, 225, 225, 0.514);
  max-width: 50vw;
  margin: auto;
}

.search-wrapper {
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 7px;
}

input {
  border: 1px solid rgb(74, 74, 74);
  border-radius: 8px;
  padding: 5px;
  /* width: 500px; */
  width: 30%;
}

.tableTitle {
  margin: auto;
  padding: 10px;
  font-size: 15px;
}

.table-wrapper {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  gap: 25px;
}

#tazz-icon {
  max-width: 64px;
  padding-bottom: 10px;
  margin: auto;
}

#glovo-icon {
  max-width: 64px;
  padding-bottom: 10px;
  margin: auto; /* Adjust margin as needed */
}

/* Hide ID column below 1300px */
@media (max-width: 1300px) {
  #tazzTable th#id,
  #tazzTable td:nth-child(1) {
    display: none;
  }
}

@media (max-width: 1300px) {
  #glovoTable th#id,
  #glovoTable td:nth-child(1) {
    display: none;
  }
}

@media (max-width: 768px) {
  .table-wrapper {
    flex-direction: column;
  }
  body {
    background-image: url(victoria-shes-UC0HZdUitWY-unsplash.jpg);
    overflow: auto;
  }
  h1 {
    display: none;
  }
}

/* @media (min-width: 769px) {
  body {
    background-image: url(victoria-shes-UC0HZdUitWY-unsplash.jpg);
    overflow: auto;
  }
  h1 {
    display: none;
  }
} */

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center; 
  width: 100vw;
  background-color: rgba(129, 129, 129, 0.329);
  padding-top: 5px;
  border: 1px solid #2c3e50;
}

.glovo-wrapper,
.tazz-wrapper { 
  width: 85%;
  margin: auto;
} 